In [1]:
#importing dependencies
import pandas as pd
import requests
from pprint import pprint

In [2]:
# Using REST Countries API to get the populations

url = "https://restcountries.com/v3.1/all"

response = requests.get(url).json()

# Extracting country names and populations
countries_data = [
    {
        "Country": country.get("name", {}).get("common"),
        "Population": country.get("population")
    }
    for country in response
]

countries = pd.DataFrame(countries_data)
countries

              Country  Population
0    Christmas Island        2072
1             Eritrea     5352000
2               Samoa      198410
3     North Macedonia     2077132
4            Djibouti      988002
..                ...         ...
245        Azerbaijan    10110116
246       Timor-Leste     1318442
247              Iran    83992953
248           Croatia     4047200
249       Ivory Coast    26378275

[250 rows x 2 columns]

In [3]:
countries.to_csv("behnoosh_outputs/population.csv",
                  encoding="utf-8", index=False, header=True)

In [4]:
# Using World Bank API to get the GDP
year = 2020
api_url = f"http://api.worldbank.org/v2/countries/all/indicators/NY.GDP.MKTP.CD?format=json&per_page=1000&date={year}"

response = requests.get(api_url)
data = response.json()[1]

# Create a list to store GDP data
gdp_data = []

for country_data in data:
    country_id = country_data["country"]["id"]
    country_name = country_data["country"]["value"]
    gdp = country_data.get("value")

    # Check if the country_id is exactly two characters long 
    if len(country_id) == 2:
        if gdp is None:
            print(f"{country_name}: No GDP data")
        else:
            formatted_gdp = "{:,}".format(float(gdp))
            print(f"{country_name}: ${formatted_gdp}")
            # Append data to the list
            gdp_data.append({"Country": country_name, "GDP": formatted_gdp})

Africa Eastern and Southern: $927,593,321,647.664
Africa Western and Central: $786,460,035,395.026
Arab World: $2,533,377,484,136.87
Caribbean small states: $65,994,922,945.3924
Central Europe and the Baltics: $1,665,358,949,113.72
Early-demographic dividend: $10,909,268,111,328.2
East Asia & Pacific: $27,144,860,679,483.9
East Asia & Pacific (excluding high income): $17,487,420,266,794.3
East Asia & Pacific (IDA & IBRD countries): $17,465,598,594,220.7
Euro area: $13,086,148,411,425.1
Europe & Central Asia: $22,150,021,659,550.1
Europe & Central Asia (excluding high income): $2,990,896,567,052.31
Europe & Central Asia (IDA & IBRD countries): $3,899,326,823,730.17
European Union: $15,370,461,303,996.4
Fragile and conflict affected situations: $1,663,072,394,700.79
Heavily indebted poor countries (HIPC): $808,664,234,946.38
High income: $53,937,976,780,898.1
IBRD only: $30,036,645,646,514.1
IDA & IBRD total: $32,450,856,363,672.7
IDA blend: $1,002,567,723,026.3
IDA only: $1,410,929,236,494.53
IDA total: $2,413,496,959,520.84
Late-demographic dividend: $22,525,940,505,680.5
Latin America & Caribbean: $4,777,568,569,259.72
Latin America & Caribbean (excluding high income): $4,020,603,113,235.61
Latin America & the Caribbean (IDA & IBRD countries): $4,529,215,519,228.92
Least developed countries: UN classification: $1,162,434,896,497.14
Low & middle income: $30,983,506,895,431.5
Low income: $436,035,519,309.06
Lower middle income: $6,619,062,047,763.54
Middle East & North Africa: $3,157,878,645,367.9
Middle East & North Africa (excluding high income): $1,284,929,306,042.49
Middle East & North Africa (IDA & IBRD countries): $1,269,397,606,042.49
Middle income: $30,547,251,417,512.0
North America: $22,714,959,162,302.7
Not classified: No GDP data
OECD members: $52,536,127,270,671.7
Other small states: $378,201,169,802.007
Pacific island small states: $9,531,900,179.0281
Post-demographic dividend: $49,719,390,050,877.1
Pre-demographic dividend: $1,308,382,294,199.16
Small states: $453,727,992,926.427
South Asia: $3,490,012,356,687.83
South Asia (IDA & IBRD): $3,490,012,356,687.83
Sub-Saharan Africa: $1,714,053,357,042.69
Sub-Saharan Africa (excluding high income): $1,712,869,841,645.04
Sub-Saharan Africa (IDA & IBRD countries): $1,714,053,357,042.69
Upper middle income: $23,928,189,369,748.5
World: $85,215,150,558,552.1
Afghanistan: $20,143,451,705.7548
Albania: $15,162,734,205.2462
Algeria: $145,743,722,826.258
American Samoa: $716,000,000.0
Andorra: $2,891,001,149.40074
Angola: $50,241,368,243.6314
Antigua and Barbuda: $1,416,348,148.14815
Argentina: $385,540,406,815.599
Armenia: $12,641,698,593.7908
Aruba: $2,610,038,938.54749
Australia: $1,326,944,627,876.87
Austria: $435,225,238,000.43
Azerbaijan: $42,693,000,000.0
Bahamas, The: $9,754,600,000.0
Bahrain: $34,621,807,712.766
Bangladesh: $373,902,196,399.317
Barbados: $4,671,800,000.0
Belarus: $61,371,755,326.2351
Belgium: $525,213,067,068.319
Belize: $2,080,000,000.0
Benin: $15,651,545,208.8771
Bermuda: $6,887,147,000.0
Bhutan: $2,325,185,520.59339
Bolivia: $36,629,843,806.0781
Bosnia and Herzegovina: $20,226,030,731.0131
Botswana: $14,960,291,540.5283
Brazil: $1,476,107,292,036.59
British Virgin Islands: No GDP data
Brunei Darussalam: $12,005,795,914.7306
Bulgaria: $70,404,359,049.232
Burkina Faso: $17,933,606,212.6294
Burundi: $2,649,680,261.01097
Cabo Verde: $1,878,277,311.2253
Cambodia: $25,872,797,892.0285
Cameroon: $40,773,241,211.6941
Canada: $1,647,598,402,302.68
Cayman Islands: $5,647,224,973.03878
Central African Republic: $2,326,720,902.35741
Chad: $10,715,396,051.4388
Channel Islands: $9,811,538,461.53846
Chile: $254,096,103,516.324
China: $14,687,743,556,969.6
Colombia: $270,150,956,772.567
Comoros: $1,225,039,195.93744
Congo, Dem. Rep.: $48,716,961,864.5378
Congo, Rep.: $10,483,151,093.6873
Costa Rica: $62,395,610,764.0705
Cote d'Ivoire: $62,982,768,371.5174
Croatia: $57,624,938,982.3606
Cuba: $107,352,000,000.0
Curacao: $2,496,174,748.60335
Cyprus: $25,008,266,159.2479
Czechia: $245,974,558,654.043
Denmark: $355,222,449,505.211
Djibouti: $3,181,071,153.6622
Dominica: $504,214,814.814815
Dominican Republic: $78,844,655,833.2194
Ecuador: $99,291,124,000.0
Egypt, Arab Rep.: $383,817,841,547.099
El Salvador: $24,930,080,000.0
Equatorial Guinea: $10,099,157,995.5789
Eritrea: No GDP data
Estonia: $31,370,395,572.7653
Eswatini: $3,982,236,726.3678
Ethiopia: $107,657,734,392.446
Faroe Islands: $3,248,670,978.10165
Fiji: $4,477,030,179.83128
Finland: $271,886,077,382.097
France: $2,639,008,701,648.21
French Polynesia: $5,731,835,679.23061
Gabon: $15,314,577,167.8199
Gambia, The: $1,812,170,878.30632
Georgia: $15,842,922,532.7202
Germany: $3,889,668,895,299.56
Ghana: $70,043,095,503.2503
Gibraltar: No GDP data
Greece: $188,925,995,936.803
Greenland: $3,082,909,157.60994
Grenada: $1,043,411,111.11111
Guam: $5,886,000,000.0
Guatemala: $77,715,183,063.2054
Guinea: $14,177,835,840.8311
Guinea-Bissau: $1,431,758,231.68287
Guyana: $5,471,256,594.72422
Haiti: $14,508,222,518.158
Honduras: $23,827,859,694.7921
Hong Kong SAR, China: $344,943,149,590.058
Hungary: $157,227,094,449.074
Iceland: $21,553,080,483.8132
India: $2,671,595,389,575.7
Indonesia: $1,059,054,842,711.72
Iran, Islamic Rep.: $239,735,486,745.704
Iraq: $180,924,091,442.953
Ireland: $425,852,281,928.114
Isle of Man: $6,684,229,268.52985
Israel: $413,267,669,231.522
Italy: $1,897,210,466,667.52
Jamaica: $13,812,421,859.4026
Japan: $5,048,789,595,589.43
Jordan: $43,579,916,197.1831
Kazakhstan: $171,082,365,723.326
Kenya: $100,657,505,600.655
Kiribati: $177,553,260.108828
Korea, Dem. People's Rep.: No GDP data
Korea, Rep.: $1,644,312,785,467.12
Kosovo: $7,717,143,395.25699
Kuwait: $105,948,765,156.029
Kyrgyz Republic: $7,780,873,258.66887
Lao PDR: $18,981,800,705.0794
Latvia: $34,601,740,323.338
Lebanon: $31,712,128,253.7961
Lesotho: $2,117,736,527.79886
Liberia: $3,039,982,500.0
Libya: $46,808,208,747.2754
Liechtenstein: $6,405,765,970.4778
Lithuania: $56,914,826,860.6918
Luxembourg: $73,992,591,285.3017
Macao SAR, China: $25,459,685,019.548
Madagascar: $13,051,441,203.4474
Malawi: $12,056,108,780.2073
Malaysia: $337,339,463,179.961
Maldives: $3,746,329,358.28788
Mali: $17,465,392,779.0366
Malta: $15,046,136,935.4814
Marshall Islands: $241,722,400.0
Mauritania: $8,405,498,735.74293
Mauritius: $11,401,040,995.9946
Mexico: $1,090,514,966,785.91
Micronesia, Fed. Sts.: $408,000,000.0
Moldova: $11,531,967,881.0624
Monaco: $6,739,642,360.46694
Mongolia: $13,312,981,427.4023
Montenegro: $4,769,995,511.55242
Morocco: $121,347,533,649.793
Mozambique: $14,156,864,916.4711
Myanmar: $78,930,259,068.5275
Namibia: $10,583,748,757.3345
Nauru: $124,685,686.622889
Nepal: $33,433,659,223.1789
Netherlands: $909,793,466,661.466
New Caledonia: $9,454,629,451.03219
New Zealand: $212,569,779,569.515
Nicaragua: $12,678,162,359.4021
Niger: $13,744,174,582.2532
Nigeria: $432,198,936,002.177
North Macedonia: $12,363,580,534.6811
Northern Mariana Islands: $858,000,000.0
Norway: $367,633,418,886.627
Oman: $75,909,397,659.2978
Pakistan: $300,425,609,206.18
Palau: $251,900,000.0
Panama: $57,086,836,942.4052
Papua New Guinea: $23,848,442,440.267
Paraguay: $35,432,177,936.3317
Peru: $201,947,603,715.409
Philippines: $361,751,145,432.404
Poland: $599,442,783,603.187
Portugal: $229,031,860,520.773
Puerto Rico: $103,130,900,000.0
Qatar: $144,411,363,345.27
Romania: $251,362,534,092.315
Russian Federation: $1,493,075,887,459.81
Rwanda: $10,172,925,171.5869
Samoa: $868,898,350.356664
San Marino: $1,541,247,884.00207
Sao Tome and Principe: $472,551,023.610419
Saudi Arabia: $734,271,183,954.88
Senegal: $24,530,513,058.5946
Serbia: $53,356,484,763.839
Seychelles: $1,183,515,397.64891
Sierra Leone: $4,062,906,363.55623
Singapore: $348,392,174,863.651
Sint Maarten (Dutch part): $1,240,279,329.60894
Slovak Republic: $106,728,917,483.033
Slovenia: $53,706,800,043.6833
Solomon Islands: $1,536,145,831.0639
Somalia: $6,883,000,000.0
South Africa: $337,619,569,570.511
South Sudan: No GDP data
Spain: $1,276,962,685,648.23
Sri Lanka: $84,440,535,698.8207
St. Kitts and Nevis: $884,522,222.222222
St. Lucia: $1,516,000,000.0
St. Martin (French part): No GDP data
St. Vincent and the Grenadines: $869,111,852.751778
Sudan: $27,034,593,750.0
Suriname: $2,911,807,496.20227
Sweden: $547,054,174,235.876
Switzerland: $739,913,619,797.445
Syrian Arab Republic: $11,159,274,040.2708
Tajikistan: $8,133,963,813.3329
Tanzania: $66,068,737,757.2651
Thailand: $500,457,261,548.076
Timor-Leste: $2,158,392,500.0
Togo: $7,389,329,392.7704
Tonga: $484,796,858.839009
Trinidad and Tobago: $21,059,428,846.0153
Tunisia: $42,538,462,678.1201
Turkiye: $720,288,811,761.915
Turkmenistan: $45,610,571,428.5714
Turks and Caicos Islands: $924,583,000.0
Tuvalu: $51,746,568.697119
Uganda: $37,605,430,214.347
Ukraine: $156,617,719,786.254
United Arab Emirates: $349,473,015,330.157
United Kingdom: $2,704,609,160,088.15
United States: $21,060,473,613,000.0
Uruguay: $53,666,908,479.5585
Uzbekistan: $60,224,701,295.7983
Vanuatu: $909,421,043.508407
Venezuela, RB: No GDP data
Viet Nam: $346,615,750,166.553
Virgin Islands (U.S.): $4,204,000,000.0
West Bank and Gaza: $15,531,700,000.0
Yemen, Rep.: No GDP data
Zambia: $18,110,638,619.3723
Zimbabwe: $21,509,698,406.1116

In [5]:
gdp_df = pd.DataFrame(gdp_data)

In [6]:
print(len(gdp_df))

257

In [7]:
print(len(countries))

250

In [8]:
merged_df = pd.merge(countries, gdp_df, on='Country', how='inner')
merged_df

             Country  Population                  GDP
0              Samoa      198410   868,898,350.356664
1    North Macedonia     2077132  12,363,580,534.6811
2           Djibouti      988002   3,181,071,153.6622
3             Jordan    10203140  43,579,916,197.1831
4           Pakistan   220892331   300,425,609,206.18
..               ...         ...                  ...
175           Israel     9216900  413,267,669,231.522
176         Bulgaria     6927288   70,404,359,049.232
177       Azerbaijan    10110116     42,693,000,000.0
178      Timor-Leste     1318442      2,158,392,500.0
179          Croatia     4047200  57,624,938,982.3606

[180 rows x 3 columns]

In [9]:
canada_info = merged_df.loc[merged_df['Country'] == 'Canada']
print(canada_info)

    Country  Population                   GDP
169  Canada    38005238  1,647,598,402,302.68

In [10]:
merged_df.to_csv("behnoosh_outputs/countries.csv",
                  encoding="utf-8", index=False, header=True)