In [1]:
#importing dependencies
import pandas as pd
import requests
from pprint import pprint

In [2]:
base_url = "http://api.worldbank.org/v2/country"
endpoint = "?format=json"
combined_url = f"{base_url}{endpoint}"
params = {"per_page": 50, "page": 1}  

# Initialize a list to store country names
countries_list = []

# Initial request to get the total number of pages
response = requests.get(combined_url, params=params)
total_pages = response.json()[0]["pages"]

# Fetch data from all pages
for page in range(1, total_pages + 1):
    params["page"] = page
    response = requests.get(combined_url, params=params)
    
    if response.status_code == 200:
        data = response.json()
        
        for country_data in data[1]:
            country_name = country_data["name"]
            
            # Append country name to the list
            countries_list.append(country_name)
    else:
        print(f"Error on page {page}: {response.status_code}")

In [4]:
# Create a DataFrame
world_countries = pd.DataFrame({"Countries": countries_list})
world_countries.sample(15)

                                             Countries
281                                      United States
263                                         Tajikistan
242                                             Serbia
196                                            Namibia
222                                           Paraguay
134                                            Ireland
207                                        New Zealand
16                                          Azerbaijan
95            Fragile and conflict affected situations
76   IDA countries in Sub-Saharan Africa not classi...
82         East Asia & Pacific (excluding high income)
147                                           Kiribati
129                                          Indonesia
204     Non-resource rich Sub-Saharan Africa countries
141                                             Jordan