In [2]:
#importing dependencies
import pandas as pd
import requests
from pprint import pprint

In [3]:
world_education_df = pd.read_csv("../Documents/output_file.csv")
world_education_df.head()

,Description_x,Country,Country Code_x,2020,Country Code_y,Description_y Name_y,2020
0,"Educational attainment, at least Master's or e...",Afghanistan,AFG,..,AFG,"Educational attainment, Doctoral or equivalent...",..
1,"Educational attainment, at least Master's or e...",Albania,ALB,..,ALB,"Educational attainment, Doctoral or equivalent...",..
2,"Educational attainment, at least Master's or e...",Algeria,DZA,..,DZA,"Educational attainment, Doctoral or equivalent...",..
3,"Educational attainment, at least Master's or e...",American Samoa,ASM,..,ASM,"Educational attainment, Doctoral or equivalent...",..
4,"Educational attainment, at least Master's or e...",Andorra,AND,..,AND,"Educational attainment, Doctoral or equivalent...",..

In [4]:
countries_info_df = pd.read_csv("../downloads/countries.csv")
countries_info_df.head()

           Country  Population                  GDP
0            Samoa      198410   868,898,350.356664
1  North Macedonia     2077132  12,363,580,534.6811
2         Djibouti      988002   3,181,071,153.6622
3           Jordan    10203140  43,579,916,197.1831
4         Pakistan   220892331   300,425,609,206.18

In [5]:
merged_df = pd.merge(world_education_df, countries_info_df, how='inner', on='Country')
merged_df

,Description_x,Country,Country Code_x,2020,Country Code_y,Description_y Name_y,2020,Population,GDP
0,"Educational attainment, at least Master's or e...",Afghanistan,AFG,..,AFG,"Educational attainment, Doctoral or equivalent...",..,40218234,"20,143,451,705.7548"
1,"Educational attainment, at least Master's or e...",Albania,ALB,..,ALB,"Educational attainment, Doctoral or equivalent...",..,2837743,"15,162,734,205.2462"
2,"Educational attainment, at least Master's or e...",Algeria,DZA,..,DZA,"Educational attainment, Doctoral or equivalent...",..,44700000,"145,743,722,826.258"
3,"Educational attainment, at least Master's or e...",American Samoa,ASM,..,ASM,"Educational attainment, Doctoral or equivalent...",..,55197,"716,000,000.0"
4,"Educational attainment, at least Master's or e...",Andorra,AND,..,AND,"Educational attainment, Doctoral or equivalent...",..,77265,"2,891,001,149.40074"
...,...,...,...,...,...,...,...,...,...
175,"Educational attainment, at least Master's or e...",Uruguay,URY,..,URY,"Educational attainment, Doctoral or equivalent...",..,3473727,"53,666,908,479.5585"
176,"Educational attainment, at least Master's or e...",Uzbekistan,UZB,..,UZB,"Educational attainment, Doctoral or equivalent...",..,34232050,"60,224,701,295.7983"
177,"Educational attainment, at least Master's or e...",Vanuatu,VUT,..,VUT,"Educational attainment, Doctoral or equivalent...",..,307150,"909,421,043.508407"
178,"Educational attainment, at least Master's or e...",Zambia,ZMB,..,ZMB,"Educational attainment, Doctoral or equivalent...",..,18383956,"18,110,638,619.3723"
179,"Educational attainment, at least Master's or e...",Zimbabwe,ZWE,..,ZWE,"Educational attainment, Doctoral or equivalent...",..,14862927,"21,509,698,406.1116"

In [6]:
merged_df.replace("..", pd.NA, inplace = True)
merged_df_cleaned = merged_df.dropna()
merged_df_cleaned

,Description_x,Country,Country Code_x,2020,Country Code_y,Description_y Name_y,2020,Population,GDP
10,"Educational attainment, at least Master's or e...",Australia,AUS,9.39603996276855,AUS,"Educational attainment, Doctoral or equivalent...",1.57927000522614,25687041,"1,326,944,627,876.87"
13,"Educational attainment, at least Master's or e...",Bahrain,BHR,2.04341006278992,BHR,"Educational attainment, Doctoral or equivalent...",0.264780014753342,1701583,"34,621,807,712.766"
22,"Educational attainment, at least Master's or e...",Bolivia,BOL,0.973389983177185,BOL,"Educational attainment, Doctoral or equivalent...",0.117499999701977,11673029,"36,629,843,806.0781"
23,"Educational attainment, at least Master's or e...",Bosnia and Herzegovina,BIH,1.56954002380371,BIH,"Educational attainment, Doctoral or equivalent...",0.181789994239807,3280815,"20,226,030,731.0131"
39,"Educational attainment, at least Master's or e...",Costa Rica,CRI,2.85759997367859,CRI,"Educational attainment, Doctoral or equivalent...",0.221780002117157,5094114,"62,395,610,764.0705"
42,"Educational attainment, at least Master's or e...",Cyprus,CYP,13.4258699417114,CYP,"Educational attainment, Doctoral or equivalent...",1.05020999908447,1207361,"25,008,266,159.2479"
44,"Educational attainment, at least Master's or e...",Denmark,DNK,13.4771604537964,DNK,"Educational attainment, Doctoral or equivalent...",1.12636995315552,5831404,"355,222,449,505.211"
51,"Educational attainment, at least Master's or e...",Estonia,EST,21.2413291931152,EST,"Educational attainment, Doctoral or equivalent...",0.931609988212585,1331057,"31,370,395,572.7653"
61,"Educational attainment, at least Master's or e...",Germany,DEU,12.4828596115112,DEU,"Educational attainment, Doctoral or equivalent...",1.50710999965668,83240525,"3,889,668,895,299.56"
63,"Educational attainment, at least Master's or e...",Greece,GRC,6.85041999816895,GRC,"Educational attainment, Doctoral or equivalent...",0.716400027275085,10715549,"188,925,995,936.803"
73,"Educational attainment, at least Master's or e...",Hungary,HUN,11.7679395675659,HUN,"Educational attainment, Doctoral or equivalent...",0.68953001499176,9749763,"157,227,094,449.074"
74,"Educational attainment, at least Master's or e...",Iceland,ISL,16.8670806884766,ISL,"Educational attainment, Doctoral or equivalent...",1.41851997375488,366425,"21,553,080,483.8132"
76,"Educational attainment, at least Master's or e...",Indonesia,IDN,0.618369996547699,IDN,"Educational attainment, Doctoral or equivalent...",0.044369999319315,273523621,"1,059,054,842,711.72"
81,"Educational attainment, at least Master's or e...",Italy,ITA,12.964750289917,ITA,"Educational attainment, Doctoral or equivalent...",0.401259988546371,59554023,"1,897,210,466,667.52"
84,"Educational attainment, at least Master's or e...",Jordan,JOR,2.13337993621826,JOR,"Educational attainment, Doctoral or equivalent...",0.722280025482178,10203140,"43,579,916,197.1831"
96,"Educational attainment, at least Master's or e...",Lithuania,LTU,14.590950012207,LTU,"Educational attainment, Doctoral or equivalent...",0.852439999580383,2794700,"56,914,826,860.6918"
102,"Educational attainment, at least Master's or e...",Mali,MLI,1.01243996620178,MLI,"Educational attainment, Doctoral or equivalent...",0.0525300018489361,20250834,"17,465,392,779.0366"
103,"Educational attainment, at least Master's or e...",Malta,MLT,9.47515964508057,MLT,"Educational attainment, Doctoral or equivalent...",0.708400011062622,525285,"15,046,136,935.4814"
107,"Educational attainment, at least Master's or e...",Mexico,MEX,2.45360994338989,MEX,"Educational attainment, Doctoral or equivalent...",0.313980013132095,128932753,"1,090,514,966,785.91"
110,"Educational attainment, at least Master's or e...",Mongolia,MNG,3.1380500793457,MNG,"Educational attainment, Doctoral or equivalent...",0.200440004467964,3278292,"13,312,981,427.4023"
113,"Educational attainment, at least Master's or e...",Mozambique,MOZ,0.290030002593994,MOZ,"Educational attainment, Doctoral or equivalent...",0.047070000320673,31255435,"14,156,864,916.4711"
118,"Educational attainment, at least Master's or e...",Netherlands,NLD,13.1361503601074,NLD,"Educational attainment, Doctoral or equivalent...",0.706110000610352,16655799,"909,793,466,661.466"
120,"Educational attainment, at least Master's or e...",New Zealand,NZL,6.23069000244141,NZL,"Educational attainment, Doctoral or equivalent...",1.12228000164032,5084300,"212,569,779,569.515"
124,"Educational attainment, at least Master's or e...",North Macedonia,MKD,1.93279004096985,MKD,"Educational attainment, Doctoral or equivalent...",0.253210008144379,2077132,"12,363,580,534.6811"
127,"Educational attainment, at least Master's or e...",Oman,OMN,1.64216005802155,OMN,"Educational attainment, Doctoral or equivalent...",0.294869989156723,5106622,"75,909,397,659.2978"
132,"Educational attainment, at least Master's or e...",Paraguay,PRY,6.64340019226074,PRY,"Educational attainment, Doctoral or equivalent...",0.0910300016403198,7132530,"35,432,177,936.3317"
135,"Educational attainment, at least Master's or e...",Poland,POL,21.8941097259521,POL,"Educational attainment, Doctoral or equivalent...",0.648769974708557,37950802,"599,442,783,603.187"
136,"Educational attainment, at least Master's or e...",Portugal,PRT,16.1905002593994,PRT,"Educational attainment, Doctoral or equivalent...",0.762510001659393,10305564,"229,031,860,520.773"
143,"Educational attainment, at least Master's or e...",Saudi Arabia,SAU,3.59056997299194,SAU,"Educational attainment, Doctoral or equivalent...",1.15103995800018,34813867,"734,271,183,954.88"
153,"Educational attainment, at least Master's or e...",Spain,ESP,14.1927499771118,ESP,"Educational attainment, Doctoral or equivalent...",0.881889998912811,47351567,"1,276,962,685,648.23"
173,"Educational attainment, at least Master's or e...",United Kingdom,GBR,13.5756597518921,GBR,"Educational attainment, Doctoral or equivalent...",1.07942998409271,67215293,"2,704,609,160,088.15"
174,"Educational attainment, at least Master's or e...",United States,USA,14.1386003494263,USA,"Educational attainment, Doctoral or equivalent...",2.08855009078979,329484123,"21,060,473,613,000.0"

In [7]:
merged_df_cleaned = merged_df_cleaned.drop(columns = "Country Code_x")
merged_df_cleaned

,Description_x,Country,2020,Country Code_y,Description_y Name_y,2020,Population,GDP
10,"Educational attainment, at least Master's or e...",Australia,9.39603996276855,AUS,"Educational attainment, Doctoral or equivalent...",1.57927000522614,25687041,"1,326,944,627,876.87"
13,"Educational attainment, at least Master's or e...",Bahrain,2.04341006278992,BHR,"Educational attainment, Doctoral or equivalent...",0.264780014753342,1701583,"34,621,807,712.766"
22,"Educational attainment, at least Master's or e...",Bolivia,0.973389983177185,BOL,"Educational attainment, Doctoral or equivalent...",0.117499999701977,11673029,"36,629,843,806.0781"
23,"Educational attainment, at least Master's or e...",Bosnia and Herzegovina,1.56954002380371,BIH,"Educational attainment, Doctoral or equivalent...",0.181789994239807,3280815,"20,226,030,731.0131"
39,"Educational attainment, at least Master's or e...",Costa Rica,2.85759997367859,CRI,"Educational attainment, Doctoral or equivalent...",0.221780002117157,5094114,"62,395,610,764.0705"
42,"Educational attainment, at least Master's or e...",Cyprus,13.4258699417114,CYP,"Educational attainment, Doctoral or equivalent...",1.05020999908447,1207361,"25,008,266,159.2479"
44,"Educational attainment, at least Master's or e...",Denmark,13.4771604537964,DNK,"Educational attainment, Doctoral or equivalent...",1.12636995315552,5831404,"355,222,449,505.211"
51,"Educational attainment, at least Master's or e...",Estonia,21.2413291931152,EST,"Educational attainment, Doctoral or equivalent...",0.931609988212585,1331057,"31,370,395,572.7653"
61,"Educational attainment, at least Master's or e...",Germany,12.4828596115112,DEU,"Educational attainment, Doctoral or equivalent...",1.50710999965668,83240525,"3,889,668,895,299.56"
63,"Educational attainment, at least Master's or e...",Greece,6.85041999816895,GRC,"Educational attainment, Doctoral or equivalent...",0.716400027275085,10715549,"188,925,995,936.803"
73,"Educational attainment, at least Master's or e...",Hungary,11.7679395675659,HUN,"Educational attainment, Doctoral or equivalent...",0.68953001499176,9749763,"157,227,094,449.074"
74,"Educational attainment, at least Master's or e...",Iceland,16.8670806884766,ISL,"Educational attainment, Doctoral or equivalent...",1.41851997375488,366425,"21,553,080,483.8132"
76,"Educational attainment, at least Master's or e...",Indonesia,0.618369996547699,IDN,"Educational attainment, Doctoral or equivalent...",0.044369999319315,273523621,"1,059,054,842,711.72"
81,"Educational attainment, at least Master's or e...",Italy,12.964750289917,ITA,"Educational attainment, Doctoral or equivalent...",0.401259988546371,59554023,"1,897,210,466,667.52"
84,"Educational attainment, at least Master's or e...",Jordan,2.13337993621826,JOR,"Educational attainment, Doctoral or equivalent...",0.722280025482178,10203140,"43,579,916,197.1831"
96,"Educational attainment, at least Master's or e...",Lithuania,14.590950012207,LTU,"Educational attainment, Doctoral or equivalent...",0.852439999580383,2794700,"56,914,826,860.6918"
102,"Educational attainment, at least Master's or e...",Mali,1.01243996620178,MLI,"Educational attainment, Doctoral or equivalent...",0.0525300018489361,20250834,"17,465,392,779.0366"
103,"Educational attainment, at least Master's or e...",Malta,9.47515964508057,MLT,"Educational attainment, Doctoral or equivalent...",0.708400011062622,525285,"15,046,136,935.4814"
107,"Educational attainment, at least Master's or e...",Mexico,2.45360994338989,MEX,"Educational attainment, Doctoral or equivalent...",0.313980013132095,128932753,"1,090,514,966,785.91"
110,"Educational attainment, at least Master's or e...",Mongolia,3.1380500793457,MNG,"Educational attainment, Doctoral or equivalent...",0.200440004467964,3278292,"13,312,981,427.4023"
113,"Educational attainment, at least Master's or e...",Mozambique,0.290030002593994,MOZ,"Educational attainment, Doctoral or equivalent...",0.047070000320673,31255435,"14,156,864,916.4711"
118,"Educational attainment, at least Master's or e...",Netherlands,13.1361503601074,NLD,"Educational attainment, Doctoral or equivalent...",0.706110000610352,16655799,"909,793,466,661.466"
120,"Educational attainment, at least Master's or e...",New Zealand,6.23069000244141,NZL,"Educational attainment, Doctoral or equivalent...",1.12228000164032,5084300,"212,569,779,569.515"
124,"Educational attainment, at least Master's or e...",North Macedonia,1.93279004096985,MKD,"Educational attainment, Doctoral or equivalent...",0.253210008144379,2077132,"12,363,580,534.6811"
127,"Educational attainment, at least Master's or e...",Oman,1.64216005802155,OMN,"Educational attainment, Doctoral or equivalent...",0.294869989156723,5106622,"75,909,397,659.2978"
132,"Educational attainment, at least Master's or e...",Paraguay,6.64340019226074,PRY,"Educational attainment, Doctoral or equivalent...",0.0910300016403198,7132530,"35,432,177,936.3317"
135,"Educational attainment, at least Master's or e...",Poland,21.8941097259521,POL,"Educational attainment, Doctoral or equivalent...",0.648769974708557,37950802,"599,442,783,603.187"
136,"Educational attainment, at least Master's or e...",Portugal,16.1905002593994,PRT,"Educational attainment, Doctoral or equivalent...",0.762510001659393,10305564,"229,031,860,520.773"
143,"Educational attainment, at least Master's or e...",Saudi Arabia,3.59056997299194,SAU,"Educational attainment, Doctoral or equivalent...",1.15103995800018,34813867,"734,271,183,954.88"
153,"Educational attainment, at least Master's or e...",Spain,14.1927499771118,ESP,"Educational attainment, Doctoral or equivalent...",0.881889998912811,47351567,"1,276,962,685,648.23"
173,"Educational attainment, at least Master's or e...",United Kingdom,13.5756597518921,GBR,"Educational attainment, Doctoral or equivalent...",1.07942998409271,67215293,"2,704,609,160,088.15"
174,"Educational attainment, at least Master's or e...",United States,14.1386003494263,USA,"Educational attainment, Doctoral or equivalent...",2.08855009078979,329484123,"21,060,473,613,000.0"

In [8]:
merged_df_cleaned = merged_df_cleaned.drop(columns = "Country Code_y")
merged_df_cleaned

,Description_x,Country,2020,Description_y Name_y,2020,Population,GDP
10,"Educational attainment, at least Master's or e...",Australia,9.39603996276855,"Educational attainment, Doctoral or equivalent...",1.57927000522614,25687041,"1,326,944,627,876.87"
13,"Educational attainment, at least Master's or e...",Bahrain,2.04341006278992,"Educational attainment, Doctoral or equivalent...",0.264780014753342,1701583,"34,621,807,712.766"
22,"Educational attainment, at least Master's or e...",Bolivia,0.973389983177185,"Educational attainment, Doctoral or equivalent...",0.117499999701977,11673029,"36,629,843,806.0781"
23,"Educational attainment, at least Master's or e...",Bosnia and Herzegovina,1.56954002380371,"Educational attainment, Doctoral or equivalent...",0.181789994239807,3280815,"20,226,030,731.0131"
39,"Educational attainment, at least Master's or e...",Costa Rica,2.85759997367859,"Educational attainment, Doctoral or equivalent...",0.221780002117157,5094114,"62,395,610,764.0705"
42,"Educational attainment, at least Master's or e...",Cyprus,13.4258699417114,"Educational attainment, Doctoral or equivalent...",1.05020999908447,1207361,"25,008,266,159.2479"
44,"Educational attainment, at least Master's or e...",Denmark,13.4771604537964,"Educational attainment, Doctoral or equivalent...",1.12636995315552,5831404,"355,222,449,505.211"
51,"Educational attainment, at least Master's or e...",Estonia,21.2413291931152,"Educational attainment, Doctoral or equivalent...",0.931609988212585,1331057,"31,370,395,572.7653"
61,"Educational attainment, at least Master's or e...",Germany,12.4828596115112,"Educational attainment, Doctoral or equivalent...",1.50710999965668,83240525,"3,889,668,895,299.56"
63,"Educational attainment, at least Master's or e...",Greece,6.85041999816895,"Educational attainment, Doctoral or equivalent...",0.716400027275085,10715549,"188,925,995,936.803"
73,"Educational attainment, at least Master's or e...",Hungary,11.7679395675659,"Educational attainment, Doctoral or equivalent...",0.68953001499176,9749763,"157,227,094,449.074"
74,"Educational attainment, at least Master's or e...",Iceland,16.8670806884766,"Educational attainment, Doctoral or equivalent...",1.41851997375488,366425,"21,553,080,483.8132"
76,"Educational attainment, at least Master's or e...",Indonesia,0.618369996547699,"Educational attainment, Doctoral or equivalent...",0.044369999319315,273523621,"1,059,054,842,711.72"
81,"Educational attainment, at least Master's or e...",Italy,12.964750289917,"Educational attainment, Doctoral or equivalent...",0.401259988546371,59554023,"1,897,210,466,667.52"
84,"Educational attainment, at least Master's or e...",Jordan,2.13337993621826,"Educational attainment, Doctoral or equivalent...",0.722280025482178,10203140,"43,579,916,197.1831"
96,"Educational attainment, at least Master's or e...",Lithuania,14.590950012207,"Educational attainment, Doctoral or equivalent...",0.852439999580383,2794700,"56,914,826,860.6918"
102,"Educational attainment, at least Master's or e...",Mali,1.01243996620178,"Educational attainment, Doctoral or equivalent...",0.0525300018489361,20250834,"17,465,392,779.0366"
103,"Educational attainment, at least Master's or e...",Malta,9.47515964508057,"Educational attainment, Doctoral or equivalent...",0.708400011062622,525285,"15,046,136,935.4814"
107,"Educational attainment, at least Master's or e...",Mexico,2.45360994338989,"Educational attainment, Doctoral or equivalent...",0.313980013132095,128932753,"1,090,514,966,785.91"
110,"Educational attainment, at least Master's or e...",Mongolia,3.1380500793457,"Educational attainment, Doctoral or equivalent...",0.200440004467964,3278292,"13,312,981,427.4023"
113,"Educational attainment, at least Master's or e...",Mozambique,0.290030002593994,"Educational attainment, Doctoral or equivalent...",0.047070000320673,31255435,"14,156,864,916.4711"
118,"Educational attainment, at least Master's or e...",Netherlands,13.1361503601074,"Educational attainment, Doctoral or equivalent...",0.706110000610352,16655799,"909,793,466,661.466"
120,"Educational attainment, at least Master's or e...",New Zealand,6.23069000244141,"Educational attainment, Doctoral or equivalent...",1.12228000164032,5084300,"212,569,779,569.515"
124,"Educational attainment, at least Master's or e...",North Macedonia,1.93279004096985,"Educational attainment, Doctoral or equivalent...",0.253210008144379,2077132,"12,363,580,534.6811"
127,"Educational attainment, at least Master's or e...",Oman,1.64216005802155,"Educational attainment, Doctoral or equivalent...",0.294869989156723,5106622,"75,909,397,659.2978"
132,"Educational attainment, at least Master's or e...",Paraguay,6.64340019226074,"Educational attainment, Doctoral or equivalent...",0.0910300016403198,7132530,"35,432,177,936.3317"
135,"Educational attainment, at least Master's or e...",Poland,21.8941097259521,"Educational attainment, Doctoral or equivalent...",0.648769974708557,37950802,"599,442,783,603.187"
136,"Educational attainment, at least Master's or e...",Portugal,16.1905002593994,"Educational attainment, Doctoral or equivalent...",0.762510001659393,10305564,"229,031,860,520.773"
143,"Educational attainment, at least Master's or e...",Saudi Arabia,3.59056997299194,"Educational attainment, Doctoral or equivalent...",1.15103995800018,34813867,"734,271,183,954.88"
153,"Educational attainment, at least Master's or e...",Spain,14.1927499771118,"Educational attainment, Doctoral or equivalent...",0.881889998912811,47351567,"1,276,962,685,648.23"
173,"Educational attainment, at least Master's or e...",United Kingdom,13.5756597518921,"Educational attainment, Doctoral or equivalent...",1.07942998409271,67215293,"2,704,609,160,088.15"
174,"Educational attainment, at least Master's or e...",United States,14.1386003494263,"Educational attainment, Doctoral or equivalent...",2.08855009078979,329484123,"21,060,473,613,000.0"

In [9]:
merged_df_cleaned = merged_df_cleaned.rename(columns={'Description_x': 'Masters or Equivalent Achieved',
                                                      'Description_y Name_y': 'Doctorate or Equivalent Achieved'})
merged_df_cleaned

,Masters or Equivalent Achieved,Country,2020,Doctorate or Equivalent Achieved,2020,Population,GDP
10,"Educational attainment, at least Master's or e...",Australia,9.39603996276855,"Educational attainment, Doctoral or equivalent...",1.57927000522614,25687041,"1,326,944,627,876.87"
13,"Educational attainment, at least Master's or e...",Bahrain,2.04341006278992,"Educational attainment, Doctoral or equivalent...",0.264780014753342,1701583,"34,621,807,712.766"
22,"Educational attainment, at least Master's or e...",Bolivia,0.973389983177185,"Educational attainment, Doctoral or equivalent...",0.117499999701977,11673029,"36,629,843,806.0781"
23,"Educational attainment, at least Master's or e...",Bosnia and Herzegovina,1.56954002380371,"Educational attainment, Doctoral or equivalent...",0.181789994239807,3280815,"20,226,030,731.0131"
39,"Educational attainment, at least Master's or e...",Costa Rica,2.85759997367859,"Educational attainment, Doctoral or equivalent...",0.221780002117157,5094114,"62,395,610,764.0705"
42,"Educational attainment, at least Master's or e...",Cyprus,13.4258699417114,"Educational attainment, Doctoral or equivalent...",1.05020999908447,1207361,"25,008,266,159.2479"
44,"Educational attainment, at least Master's or e...",Denmark,13.4771604537964,"Educational attainment, Doctoral or equivalent...",1.12636995315552,5831404,"355,222,449,505.211"
51,"Educational attainment, at least Master's or e...",Estonia,21.2413291931152,"Educational attainment, Doctoral or equivalent...",0.931609988212585,1331057,"31,370,395,572.7653"
61,"Educational attainment, at least Master's or e...",Germany,12.4828596115112,"Educational attainment, Doctoral or equivalent...",1.50710999965668,83240525,"3,889,668,895,299.56"
63,"Educational attainment, at least Master's or e...",Greece,6.85041999816895,"Educational attainment, Doctoral or equivalent...",0.716400027275085,10715549,"188,925,995,936.803"
73,"Educational attainment, at least Master's or e...",Hungary,11.7679395675659,"Educational attainment, Doctoral or equivalent...",0.68953001499176,9749763,"157,227,094,449.074"
74,"Educational attainment, at least Master's or e...",Iceland,16.8670806884766,"Educational attainment, Doctoral or equivalent...",1.41851997375488,366425,"21,553,080,483.8132"
76,"Educational attainment, at least Master's or e...",Indonesia,0.618369996547699,"Educational attainment, Doctoral or equivalent...",0.044369999319315,273523621,"1,059,054,842,711.72"
81,"Educational attainment, at least Master's or e...",Italy,12.964750289917,"Educational attainment, Doctoral or equivalent...",0.401259988546371,59554023,"1,897,210,466,667.52"
84,"Educational attainment, at least Master's or e...",Jordan,2.13337993621826,"Educational attainment, Doctoral or equivalent...",0.722280025482178,10203140,"43,579,916,197.1831"
96,"Educational attainment, at least Master's or e...",Lithuania,14.590950012207,"Educational attainment, Doctoral or equivalent...",0.852439999580383,2794700,"56,914,826,860.6918"
102,"Educational attainment, at least Master's or e...",Mali,1.01243996620178,"Educational attainment, Doctoral or equivalent...",0.0525300018489361,20250834,"17,465,392,779.0366"
103,"Educational attainment, at least Master's or e...",Malta,9.47515964508057,"Educational attainment, Doctoral or equivalent...",0.708400011062622,525285,"15,046,136,935.4814"
107,"Educational attainment, at least Master's or e...",Mexico,2.45360994338989,"Educational attainment, Doctoral or equivalent...",0.313980013132095,128932753,"1,090,514,966,785.91"
110,"Educational attainment, at least Master's or e...",Mongolia,3.1380500793457,"Educational attainment, Doctoral or equivalent...",0.200440004467964,3278292,"13,312,981,427.4023"
113,"Educational attainment, at least Master's or e...",Mozambique,0.290030002593994,"Educational attainment, Doctoral or equivalent...",0.047070000320673,31255435,"14,156,864,916.4711"
118,"Educational attainment, at least Master's or e...",Netherlands,13.1361503601074,"Educational attainment, Doctoral or equivalent...",0.706110000610352,16655799,"909,793,466,661.466"
120,"Educational attainment, at least Master's or e...",New Zealand,6.23069000244141,"Educational attainment, Doctoral or equivalent...",1.12228000164032,5084300,"212,569,779,569.515"
124,"Educational attainment, at least Master's or e...",North Macedonia,1.93279004096985,"Educational attainment, Doctoral or equivalent...",0.253210008144379,2077132,"12,363,580,534.6811"
127,"Educational attainment, at least Master's or e...",Oman,1.64216005802155,"Educational attainment, Doctoral or equivalent...",0.294869989156723,5106622,"75,909,397,659.2978"
132,"Educational attainment, at least Master's or e...",Paraguay,6.64340019226074,"Educational attainment, Doctoral or equivalent...",0.0910300016403198,7132530,"35,432,177,936.3317"
135,"Educational attainment, at least Master's or e...",Poland,21.8941097259521,"Educational attainment, Doctoral or equivalent...",0.648769974708557,37950802,"599,442,783,603.187"
136,"Educational attainment, at least Master's or e...",Portugal,16.1905002593994,"Educational attainment, Doctoral or equivalent...",0.762510001659393,10305564,"229,031,860,520.773"
143,"Educational attainment, at least Master's or e...",Saudi Arabia,3.59056997299194,"Educational attainment, Doctoral or equivalent...",1.15103995800018,34813867,"734,271,183,954.88"
153,"Educational attainment, at least Master's or e...",Spain,14.1927499771118,"Educational attainment, Doctoral or equivalent...",0.881889998912811,47351567,"1,276,962,685,648.23"
173,"Educational attainment, at least Master's or e...",United Kingdom,13.5756597518921,"Educational attainment, Doctoral or equivalent...",1.07942998409271,67215293,"2,704,609,160,088.15"
174,"Educational attainment, at least Master's or e...",United States,14.1386003494263,"Educational attainment, Doctoral or equivalent...",2.08855009078979,329484123,"21,060,473,613,000.0"

In [10]:
columns_to_drop = ['Masters or Equivalent Achieved', 'Doctorate or Equivalent Achieved']
merged_df_cleaned = merged_df_cleaned.drop(columns=columns_to_drop)
merged_df_cleaned

,Country,2020,2020,Population,GDP
10,Australia,9.39603996276855,1.57927000522614,25687041,"1,326,944,627,876.87"
13,Bahrain,2.04341006278992,0.264780014753342,1701583,"34,621,807,712.766"
22,Bolivia,0.973389983177185,0.117499999701977,11673029,"36,629,843,806.0781"
23,Bosnia and Herzegovina,1.56954002380371,0.181789994239807,3280815,"20,226,030,731.0131"
39,Costa Rica,2.85759997367859,0.221780002117157,5094114,"62,395,610,764.0705"
42,Cyprus,13.4258699417114,1.05020999908447,1207361,"25,008,266,159.2479"
44,Denmark,13.4771604537964,1.12636995315552,5831404,"355,222,449,505.211"
51,Estonia,21.2413291931152,0.931609988212585,1331057,"31,370,395,572.7653"
61,Germany,12.4828596115112,1.50710999965668,83240525,"3,889,668,895,299.56"
63,Greece,6.85041999816895,0.716400027275085,10715549,"188,925,995,936.803"
73,Hungary,11.7679395675659,0.68953001499176,9749763,"157,227,094,449.074"
74,Iceland,16.8670806884766,1.41851997375488,366425,"21,553,080,483.8132"
76,Indonesia,0.618369996547699,0.044369999319315,273523621,"1,059,054,842,711.72"
81,Italy,12.964750289917,0.401259988546371,59554023,"1,897,210,466,667.52"
84,Jordan,2.13337993621826,0.722280025482178,10203140,"43,579,916,197.1831"
96,Lithuania,14.590950012207,0.852439999580383,2794700,"56,914,826,860.6918"
102,Mali,1.01243996620178,0.0525300018489361,20250834,"17,465,392,779.0366"
103,Malta,9.47515964508057,0.708400011062622,525285,"15,046,136,935.4814"
107,Mexico,2.45360994338989,0.313980013132095,128932753,"1,090,514,966,785.91"
110,Mongolia,3.1380500793457,0.200440004467964,3278292,"13,312,981,427.4023"
113,Mozambique,0.290030002593994,0.047070000320673,31255435,"14,156,864,916.4711"
118,Netherlands,13.1361503601074,0.706110000610352,16655799,"909,793,466,661.466"
120,New Zealand,6.23069000244141,1.12228000164032,5084300,"212,569,779,569.515"
124,North Macedonia,1.93279004096985,0.253210008144379,2077132,"12,363,580,534.6811"
127,Oman,1.64216005802155,0.294869989156723,5106622,"75,909,397,659.2978"
132,Paraguay,6.64340019226074,0.0910300016403198,7132530,"35,432,177,936.3317"
135,Poland,21.8941097259521,0.648769974708557,37950802,"599,442,783,603.187"
136,Portugal,16.1905002593994,0.762510001659393,10305564,"229,031,860,520.773"
143,Saudi Arabia,3.59056997299194,1.15103995800018,34813867,"734,271,183,954.88"
153,Spain,14.1927499771118,0.881889998912811,47351567,"1,276,962,685,648.23"
173,United Kingdom,13.5756597518921,1.07942998409271,67215293,"2,704,609,160,088.15"
174,United States,14.1386003494263,2.08855009078979,329484123,"21,060,473,613,000.0"

In [11]:
merged_df_cleaned.columns

Index(['Country', '2020 ', '2020', 'Population', 'GDP'], dtype='object')

In [13]:
merged_df_cleaned = merged_df_cleaned.rename(columns={'2020': '2020 Doctorate or Equivalent Achieved'})
merged_df_cleaned

,Country,2020 Masters or Equivalent Achieved,2020 Doctorate or Equivalent Achieved,Population,GDP
10,Australia,9.39603996276855,1.57927000522614,25687041,"1,326,944,627,876.87"
13,Bahrain,2.04341006278992,0.264780014753342,1701583,"34,621,807,712.766"
22,Bolivia,0.973389983177185,0.117499999701977,11673029,"36,629,843,806.0781"
23,Bosnia and Herzegovina,1.56954002380371,0.181789994239807,3280815,"20,226,030,731.0131"
39,Costa Rica,2.85759997367859,0.221780002117157,5094114,"62,395,610,764.0705"
42,Cyprus,13.4258699417114,1.05020999908447,1207361,"25,008,266,159.2479"
44,Denmark,13.4771604537964,1.12636995315552,5831404,"355,222,449,505.211"
51,Estonia,21.2413291931152,0.931609988212585,1331057,"31,370,395,572.7653"
61,Germany,12.4828596115112,1.50710999965668,83240525,"3,889,668,895,299.56"
63,Greece,6.85041999816895,0.716400027275085,10715549,"188,925,995,936.803"
73,Hungary,11.7679395675659,0.68953001499176,9749763,"157,227,094,449.074"
74,Iceland,16.8670806884766,1.41851997375488,366425,"21,553,080,483.8132"
76,Indonesia,0.618369996547699,0.044369999319315,273523621,"1,059,054,842,711.72"
81,Italy,12.964750289917,0.401259988546371,59554023,"1,897,210,466,667.52"
84,Jordan,2.13337993621826,0.722280025482178,10203140,"43,579,916,197.1831"
96,Lithuania,14.590950012207,0.852439999580383,2794700,"56,914,826,860.6918"
102,Mali,1.01243996620178,0.0525300018489361,20250834,"17,465,392,779.0366"
103,Malta,9.47515964508057,0.708400011062622,525285,"15,046,136,935.4814"
107,Mexico,2.45360994338989,0.313980013132095,128932753,"1,090,514,966,785.91"
110,Mongolia,3.1380500793457,0.200440004467964,3278292,"13,312,981,427.4023"
113,Mozambique,0.290030002593994,0.047070000320673,31255435,"14,156,864,916.4711"
118,Netherlands,13.1361503601074,0.706110000610352,16655799,"909,793,466,661.466"
120,New Zealand,6.23069000244141,1.12228000164032,5084300,"212,569,779,569.515"
124,North Macedonia,1.93279004096985,0.253210008144379,2077132,"12,363,580,534.6811"
127,Oman,1.64216005802155,0.294869989156723,5106622,"75,909,397,659.2978"
132,Paraguay,6.64340019226074,0.0910300016403198,7132530,"35,432,177,936.3317"
135,Poland,21.8941097259521,0.648769974708557,37950802,"599,442,783,603.187"
136,Portugal,16.1905002593994,0.762510001659393,10305564,"229,031,860,520.773"
143,Saudi Arabia,3.59056997299194,1.15103995800018,34813867,"734,271,183,954.88"
153,Spain,14.1927499771118,0.881889998912811,47351567,"1,276,962,685,648.23"
173,United Kingdom,13.5756597518921,1.07942998409271,67215293,"2,704,609,160,088.15"
174,United States,14.1386003494263,2.08855009078979,329484123,"21,060,473,613,000.0"

In [15]:
merged_df_cleaned.to_csv('completed_combined_df.csv', index=False)