In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
csv = '98-401-X2021001_English_CSV_data.csv'

main_df = pd.read_csv(csv,encoding='latin-1')
main_df

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME,...,C2_COUNT_MEN+,SYMBOL.1,C3_COUNT_WOMEN+,SYMBOL.2,C10_RATE_TOTAL,SYMBOL.3,C11_RATE_MEN+,SYMBOL.4,C12_RATE_WOMEN+,SYMBOL.5
0,2021,2021A000011124,1,Country,Canada,3.1,4.3,20000,1,"Population, 2021",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
1,2021,2021A000011124,1,Country,Canada,3.1,4.3,20000,2,"Population, 2016",...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
2,2021,2021A000011124,1,Country,Canada,3.1,4.3,20000,3,"Population percentage change, 2016 to 2021",...,NaN,...,NaN,...,5.2,NaN,NaN,...,NaN,...
3,2021,2021A000011124,1,Country,Canada,3.1,4.3,20000,4,Total private dwellings,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
4,2021,2021A000011124,1,Country,Canada,3.1,4.3,20000,5,Private dwellings occupied by usual residents,...,NaN,...,NaN,...,NaN,...,NaN,...,NaN,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36829,2021,2021A000262,62,Territory,Nunavut,20.2,21.9,2020,2627,Total - Eligibility and instruction in the min...,...,4745.0,NaN,4755.0,NaN,100.0,NaN,100.0,NaN,100.0,NaN
36830,2021,2021A000262,62,Territory,Nunavut,20.2,21.9,2020,2628,Children eligible for instruction in the min...,...,185.0,NaN,175.0,NaN,3.8,NaN,3.9,NaN,3.7,NaN
36831,2021,2021A000262,62,Territory,Nunavut,20.2,21.9,2020,2629,Eligible children who have been instructed...,...,100.0,NaN,115.0,NaN,2.3,NaN,2.1,NaN,2.4,NaN
36832,2021,2021A000262,62,Territory,Nunavut,20.2,21.9,2020,2630,Eligible children who have not been instru...,...,80.0,NaN,60.0,NaN,1.5,NaN,1.7,NaN,1.3,NaN
36833,2021,2021A000262,62,Territory,Nunavut,20.2,21.9,2020,2631,Children not eligible for instruction in the...,...,4555.0,NaN,4585.0,NaN,96.2,NaN,96.0,NaN,96.4,NaN

In [3]:
# Gathering only provincial data
filtered_by_prov = main_df[(main_df["GEO_LEVEL"] == 'Territory') | (main_df["GEO_LEVEL"]=="Province")]
filtered_by_prov = filtered_by_prov[['GEO_LEVEL','GEO_NAME','CHARACTERISTIC_NAME','CHARACTERISTIC_ID','C1_COUNT_TOTAL','C2_COUNT_MEN+','C3_COUNT_WOMEN+','C10_RATE_TOTAL','C11_RATE_MEN+','C12_RATE_WOMEN+']]
filtered_by_prov

,GEO_LEVEL,GEO_NAME,CHARACTERISTIC_NAME,CHARACTERISTIC_ID,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,C10_RATE_TOTAL,C11_RATE_MEN+,C12_RATE_WOMEN+
2631,Province,Newfoundland and Labrador,"Population, 2021",1,510550.0,NaN,NaN,NaN,NaN,NaN
2632,Province,Newfoundland and Labrador,"Population, 2016",2,519716.0,NaN,NaN,NaN,NaN,NaN
2633,Province,Newfoundland and Labrador,"Population percentage change, 2016 to 2021",3,-1.8,NaN,NaN,-1.8,NaN,NaN
2634,Province,Newfoundland and Labrador,Total private dwellings,4,269184.0,NaN,NaN,NaN,NaN,NaN
2635,Province,Newfoundland and Labrador,Private dwellings occupied by usual residents,5,223253.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
36829,Territory,Nunavut,Total - Eligibility and instruction in the min...,2627,9500.0,4745.0,4755.0,100.0,100.0,100.0
36830,Territory,Nunavut,Children eligible for instruction in the min...,2628,360.0,185.0,175.0,3.8,3.9,3.7
36831,Territory,Nunavut,Eligible children who have been instructed...,2629,215.0,100.0,115.0,2.3,2.1,2.4
36832,Territory,Nunavut,Eligible children who have not been instru...,2630,140.0,80.0,60.0,1.5,1.7,1.3
36833,Territory,Nunavut,Children not eligible for instruction in the...,2631,9140.0,4555.0,4585.0,96.2,96.0,96.4

In [52]:
population_df = filtered_by_prov[filtered_by_prov['CHARACTERISTIC_ID'] == 1]
population_df

,GEO_LEVEL,GEO_NAME,CHARACTERISTIC_NAME,CHARACTERISTIC_ID,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,C10_RATE_TOTAL,C11_RATE_MEN+,C12_RATE_WOMEN+
2631,Province,Newfoundland and Labrador,"Population, 2021",1,510550.0,NaN,NaN,NaN,NaN,NaN
5262,Province,Prince Edward Island,"Population, 2021",1,154331.0,NaN,NaN,NaN,NaN,NaN
7893,Province,Nova Scotia,"Population, 2021",1,969383.0,NaN,NaN,NaN,NaN,NaN
10524,Province,New Brunswick,"Population, 2021",1,775610.0,NaN,NaN,NaN,NaN,NaN
13155,Province,Quebec,"Population, 2021",1,8501833.0,NaN,NaN,NaN,NaN,NaN
15786,Province,Ontario,"Population, 2021",1,14223942.0,NaN,NaN,NaN,NaN,NaN
18417,Province,Manitoba,"Population, 2021",1,1342153.0,NaN,NaN,NaN,NaN,NaN
21048,Province,Saskatchewan,"Population, 2021",1,1132505.0,NaN,NaN,NaN,NaN,NaN
23679,Province,Alberta,"Population, 2021",1,4262635.0,NaN,NaN,NaN,NaN,NaN
26310,Province,British Columbia,"Population, 2021",1,5000879.0,NaN,NaN,NaN,NaN,NaN
28941,Territory,Yukon,"Population, 2021",1,40232.0,NaN,NaN,NaN,NaN,NaN
31572,Territory,Northwest Territories,"Population, 2021",1,41070.0,NaN,NaN,NaN,NaN,NaN
34203,Territory,Nunavut,"Population, 2021",1,36858.0,NaN,NaN,NaN,NaN,NaN

In [4]:
# Drop NaN 
cleaned_df = filtered_by_prov.dropna()
cleaned_df

,GEO_LEVEL,GEO_NAME,CHARACTERISTIC_NAME,CHARACTERISTIC_ID,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,C10_RATE_TOTAL,C11_RATE_MEN+,C12_RATE_WOMEN+
2638,Province,Newfoundland and Labrador,Total - Age groups of the population - 100% data,8,510550.0,250075.0,260475.0,100.0,100.0,100.0
2639,Province,Newfoundland and Labrador,0 to 14 years,9,68190.0,35050.0,33140.0,13.4,14.0,12.7
2640,Province,Newfoundland and Labrador,0 to 4 years,10,18985.0,9760.0,9225.0,3.7,3.9,3.5
2641,Province,Newfoundland and Labrador,5 to 9 years,11,23030.0,11750.0,11280.0,4.5,4.7,4.3
2642,Province,Newfoundland and Labrador,10 to 14 years,12,26175.0,13535.0,12640.0,5.1,5.4,4.9
...,...,...,...,...,...,...,...,...,...,...
36829,Territory,Nunavut,Total - Eligibility and instruction in the min...,2627,9500.0,4745.0,4755.0,100.0,100.0,100.0
36830,Territory,Nunavut,Children eligible for instruction in the min...,2628,360.0,185.0,175.0,3.8,3.9,3.7
36831,Territory,Nunavut,Eligible children who have been instructed...,2629,215.0,100.0,115.0,2.3,2.1,2.4
36832,Territory,Nunavut,Eligible children who have not been instru...,2630,140.0,80.0,60.0,1.5,1.7,1.3
36833,Territory,Nunavut,Children not eligible for instruction in the...,2631,9140.0,4555.0,4585.0,96.2,96.0,96.4

In [74]:
# Grabbing the characteristic IDs we want
education_df = cleaned_df[(cleaned_df['CHARACTERISTIC_ID'] == 8) |
                        (cleaned_df['CHARACTERISTIC_ID'] == 1998) | 
                        (cleaned_df['CHARACTERISTIC_ID'] == 2012) | 
                        (cleaned_df['CHARACTERISTIC_ID'] == 2013) |
                        (cleaned_df['CHARACTERISTIC_ID'] == 2014) |
                        (cleaned_df['CHARACTERISTIC_ID'] == 2028) |
                        (cleaned_df['CHARACTERISTIC_ID'] == 2029) ]

education_df.loc[education_df['CHARACTERISTIC_ID'] == 8, 'CHARACTERISTIC_NAME'] = 'Total population'

# Rename columns
education_df = education_df.rename(columns ={
    'GEO_NAME' : 'Province/Territory',
    'CHARACTERISTIC_NAME' : 'Description',
    'C1_COUNT_TOTAL':'Total',
    'C2_COUNT_MEN+': 'Male',
    'C3_COUNT_WOMEN+': 'Female',
    'C10_RATE_TOTAL' : '% of Provincial Population',
    'C11_RATE_MEN+' : 'Male %',
    'C12_RATE_WOMEN+' : 'Female %'
                     })
# Resetting the index and pulling only columns we want
education_df.reset_index(inplace=True)
education_df.set_index("Province/Territory",inplace=True)
education_df = education_df[['Description','Total','Male','Female','% of Provincial Population','Male %','Female %']]
education_df

,Description,Total,Male,Female,% of Provincial Population,Male %,Female %
Province/Territory,,,,,,,
Newfoundland and Labrador,Total population,510550.0,250075.0,260475.0,100.0,100.0,100.0
Newfoundland and Labrador,"Total - Highest certificate, diploma or degree...",433960.0,211180.0,222775.0,100.0,100.0,100.0
Newfoundland and Labrador,Master's degree,17150.0,6990.0,10165.0,4.0,3.3,4.6
Newfoundland and Labrador,Earned doctorate,2610.0,1635.0,975.0,0.6,0.8,0.4
Newfoundland and Labrador,"Total - Highest certificate, diploma or degree...",267785.0,129445.0,138340.0,100.0,100.0,100.0
...,...,...,...,...,...,...,...
Nunavut,Master's degree,715.0,310.0,405.0,2.9,2.5,3.3
Nunavut,Earned doctorate,50.0,25.0,25.0,0.2,0.2,0.2
Nunavut,"Total - Highest certificate, diploma or degree...",17060.0,8590.0,8475.0,100.0,100.0,100.0
Nunavut,Master's degree,680.0,300.0,385.0,4.0,3.5,4.5
Nunavut,Earned doctorate,50.0,25.0,20.0,0.3,0.3,0.2

In [75]:
# Convert to integer
education_df['Male'] = education_df['Male'].astype(int)
education_df['Female'] = education_df['Female'].astype(int)
education_df['Total'] = education_df['Total'].astype(int)

# Displaying the DF
education_df

,Description,Total,Male,Female,% of Provincial Population,Male %,Female %
Province/Territory,,,,,,,
Newfoundland and Labrador,Total population,510550,250075,260475,100.0,100.0,100.0
Newfoundland and Labrador,"Total - Highest certificate, diploma or degree...",433960,211180,222775,100.0,100.0,100.0
Newfoundland and Labrador,Master's degree,17150,6990,10165,4.0,3.3,4.6
Newfoundland and Labrador,Earned doctorate,2610,1635,975,0.6,0.8,0.4
Newfoundland and Labrador,"Total - Highest certificate, diploma or degree...",267785,129445,138340,100.0,100.0,100.0
...,...,...,...,...,...,...,...
Nunavut,Master's degree,715,310,405,2.9,2.5,3.3
Nunavut,Earned doctorate,50,25,25,0.2,0.2,0.2
Nunavut,"Total - Highest certificate, diploma or degree...",17060,8590,8475,100.0,100.0,100.0
Nunavut,Master's degree,680,300,385,4.0,3.5,4.5
Nunavut,Earned doctorate,50,25,20,0.3,0.3,0.2

In [76]:
education_df.to_csv('Gender Type and Education Level.csv')