In [50]:
import pandas as pd
import numpy as np

In [51]:
csv = '9810007901-eng.csv'

main_df = pd.read_csv(csv, encoding='utf-8')
main_df

,Income,Quebec i26,Ontario i56,Alberta i121,British Columbia i141
0,Census family structure (7) 2,Total - Census family structure,Total - Census family structure,Total - Census family structure,Total - Census family structure
1,Family size of census family (4) 3,Total - Census families by family size,Total - Census families by family size,Total - Census families by family size,Total - Census families by family size
2,Ages of census family members (18),Total - Census families by number of persons a...,Total - Census families by number of persons a...,Total - Census families by number of persons a...,Total - Census families by number of persons a...
3,Number of earners in the census family (5) 4,Total - Number of earners in the census family,Total - Number of earners in the census family,Total - Number of earners in the census family,Total - Number of earners in the census family
4,2021 Total,"2,323,410","3,969,670","1,164,655","1,399,405"
5,"Under $5,000","8,365","28,115","7,825","11,715"
6,"$5,000 to $9,999","4,010","11,820","3,585","5,820"
7,"$10,000 to $14,999","6,580","16,920","4,710","6,805"
8,"$15,000 to $19,999","10,305","24,325","6,720","9,385"
9,"$20,000 to $24,999","19,280","37,635","9,810","13,210"
10,"$25,000 to $29,999","23,040","49,965","12,450","17,880"
11,"$30,000 to $34,999","45,545","81,165","16,845","28,540"
12,"$35,000 to $39,999","75,920","103,610","27,215","43,810"
13,"$40,000 to $44,999","77,800","111,620","31,370","40,540"
14,"$45,000 to $49,999","76,390","114,320","30,395","41,405"
15,"$50,000 to $59,999","168,170","251,085","65,910","90,295"
16,"$60,000 to $69,999","178,845","265,260","72,270","94,930"
17,"$70,000 to $79,999","181,795","266,855","74,450","96,030"
18,"$80,000 to $89,999","178,860","263,300","75,140","94,800"
19,"$90,000 to $99,999","169,390","252,335","73,730","91,110"
20,"$100,000 and over","1,099,110","2,091,335","652,220","713,140"
21,"$200,000 and over","214,080","559,445","181,425","170,830"
22,Median total income of census family ($) 6,"96,000","104,000","110,000","102,000"
23,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN
25,Abbreviation notes:,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN
27,List of abbreviations and acronyms found withi...,NaN,NaN,NaN,NaN
28,(https://www12.statcan.gc.ca/census-recensemen...,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN
32,iBall:,NaN,NaN,NaN,NaN
33,i26,Geography name: Quebec; Geographic area type: ...,NaN,NaN,NaN
34,i56,Geography name: Ontario; Geographic area type:...,NaN,NaN,NaN
35,i121,Geography name: Alberta; Geographic area type:...,NaN,NaN,NaN
36,i141,Geography name: British Columbia; Geographic a...,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN
40,Footnotes:,NaN,NaN,NaN,NaN
41,1,Historical comparison of geographic areas The...,NaN,NaN,NaN
42,2,Census family structureCensus family structure...,NaN,NaN,NaN
43,3,Family size 'Family size' refers to the num...,NaN,NaN,NaN
44,4,Earner or employment income recipient Person ...,NaN,NaN,NaN
45,5,Total income Total income refers to the sum o...,NaN,NaN,NaN
46,6,The median income of a specified group is the ...,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN
50,How to cite: Statistics Canada. Table 98-10-00...,NaN,NaN,NaN,NaN
51,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN

In [56]:
preferred_rows = main_df.iloc[4:23]
preferred_rows

,Income,Quebec i26,Ontario i56,Alberta i121,British Columbia i141
4,2021 Total,"2,323,410","3,969,670","1,164,655","1,399,405"
5,"Under $5,000","8,365","28,115","7,825","11,715"
6,"$5,000 to $9,999","4,010","11,820","3,585","5,820"
7,"$10,000 to $14,999","6,580","16,920","4,710","6,805"
8,"$15,000 to $19,999","10,305","24,325","6,720","9,385"
9,"$20,000 to $24,999","19,280","37,635","9,810","13,210"
10,"$25,000 to $29,999","23,040","49,965","12,450","17,880"
11,"$30,000 to $34,999","45,545","81,165","16,845","28,540"
12,"$35,000 to $39,999","75,920","103,610","27,215","43,810"
13,"$40,000 to $44,999","77,800","111,620","31,370","40,540"
14,"$45,000 to $49,999","76,390","114,320","30,395","41,405"
15,"$50,000 to $59,999","168,170","251,085","65,910","90,295"
16,"$60,000 to $69,999","178,845","265,260","72,270","94,930"
17,"$70,000 to $79,999","181,795","266,855","74,450","96,030"
18,"$80,000 to $89,999","178,860","263,300","75,140","94,800"
19,"$90,000 to $99,999","169,390","252,335","73,730","91,110"
20,"$100,000 and over","1,099,110","2,091,335","652,220","713,140"
21,"$200,000 and over","214,080","559,445","181,425","170,830"
22,Median total income of census family ($) 6,"96,000","104,000","110,000","102,000"